

@media only screen and (min-width:768px) and (max-width:20068px)  {
	#zone-user { display: none;}

}

@media only screen and (min-width:0px) and (max-width:768px)  {

.mean-container .mean-bar{float:left;width:100%;position:relative;background: #a4281b url(/sites/default/files/logo1867_2.png) no-repeat;}


#zone-branding-wrapper { display: none;}

#zone-menu { display: none;}

#zone-user { background-color: #a4281b;}

#zone-menu-wrapper {

	clear: both;
	height: 0;
}

#search-block-form {
	visibility: hidden;
	height: 0;
}


}