/* @override http://kearnynj.org/kearnynew/sites/default/files/css_injector/css_injector_1.css?mmv0i3 */

/* @override http://kearnynj.org/kearnynew/sites/default/files/css_injector/css_injector_1.css?mmuy4h
 */

.sf-menu.sf-style-blue li,
.sf-menu.sf-style-blue.sf-navbar {
	background: #a32817;
}

.sf-menu.sf-style-blue li:hover,
.sf-menu.sf-style-blue li.sfHover,
.sf-menu.sf-style-blue li.active a,
.sf-menu.sf-style-blue a:focus,
.sf-menu.sf-style-blue a:hover,
.sf-menu.sf-style-blue a:active,
.sf-menu.sf-style-blue.sf-navbar li li {
	background: #821c13;
	color: #fddf4b;
}

.sf-menu.sf-style-blue li li {
	background: #a32817;
}

.sf-menu.sf-style-blue a {
	border: 1px solid #a32817;
	color: #ffffff;
	padding: 8pt 8pt 8pt;
	text-transform: uppercase;
}

#zone-menu {
	-moz-box-shadow: 0px 1px 4px 0px #afae9f;
	-webkit-box-shadow: 0px 1px 4px 0px #afae9f;
	box-shadow: 0px 1px 4px 0px #afae9f;
	z-index: 6;
	background-color: #a3281a;
	border-right: 3px solid #ffffff;
	border-left: 3px solid #ffffff;
	height: 36px;
}

#superfish-2 {
	margin-bottom: 0;
	background-color: #a5261a;
	float: left;
}

#block-superfish-2 {
	float: left;
}

#search-block-form div div.container-inline {
	float: right;
	margin-top: 6px;
}

div.views-field.views-field-field-newsdate {
	font-weight: bold;
}

div.field.field-name-field-newsdate.field-type-date {
	font-weight: bold;
}

div.field.field-name-field-newsimage.field-type-image.field-label-hidden img {
	float: left;
	margin-bottom: 10px;
	border: 3px solid #c6ccd0;
	margin-right: 10px;
}

#block-block-9 {
	margin-top: 10px;
}

img#logo {
	max-width: 100%;
	height: auto;
}

p img {
	max-width: 100%;
	height: auto;
}

div.field.field-name-field-newsdate.field-type-date.field-label-inline.clearfix {
	padding-bottom: 10px;
}

#block-block-13 div.block-inner.clearfix div.content.clearfix {
	max-width: 100%;
	height: auto;
}

div.content.clearfix div.service-links ul.links {
	padding-bottom: 25px;
	margin-top: -10px;
	border-bottom: 1px dotted #e0e0e0;
	margin-bottom: 5px;
}

div.service-links li {
	list-style-type: none;
	float: right;
	margin-right: 10px;
}

div.service-links li.service-links-twitter-widget {
	margin-right: -19px;
}

div.service-links li.service-links-facebook-like {
	margin-right: -13px;
}

div#region-content.grid-6.region.region-content {
	background-color: #f6f6f6;
	padding-top: 20px;
	-moz-box-shadow: 0 0 7px #cccccc;
	-webkit-box-shadow: 0 0 7px #cccccc;
	box-shadow: 0 0 7px #cccccc;
	margin-top: -7px;
	margin-bottom: -20px;
	padding-left: 10px;
	padding-right: 5px;
	margin-right: -5px;
}

#block-block-10 img {
	float: left;
	margin-top: -137px;
	margin-left: 411px;
	padding-top: 0;
	padding-bottom: 0;
}

#block-block-10 {
	margin-bottom: -10px;
}

#graffitiblock {
	display: inline-block;
	width: 100%;
	border: 1px solid #b5b5b5;
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 20px #dadada;
	-moz-box-shadow: inset 0 0 20px #dadada;
	box-shadow: inset 0 0 20px #dadada;
	font-weight: bold;
	font-size: 17px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 6px;
}

#graffitiblocktitle {
	color: #a32817;
}

#graffitiblock p {
	margin-bottom: 0;
	margin-top: -5px;
}

#mostreqlink a {
	display: inline-block;
	width: 100%;
	padding: 3px;
	border: 1px solid #b5b5b5;
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 30px #fed443;
	-moz-box-shadow: inset 0 0 30px #fed443;
	box-shadow: inset 0 0 30px #fed443;
	color: #fffeff;
}

#mostreqlink a:hover {
	border: 1px solid #a32816;
	-webkit-box-shadow: inset 0 0 20px #dadada;
	-moz-box-shadow: inset 0 0 20px #dadada;
	box-shadow: inset 0 0 20px #dadada;
}

#mostreqicon {
	float: left;
	margin-right: 4px;
}

#mostreqtitle {
	float: left;
	color: #000;
	font-size: 13px;
	margin-top: 4px;
	margin-left: 4px;
}

div.field.field-name-body.field-type-text-with-summary.field-label-hidden.deptbody {
	float: left;
	width: 68%;
	margin-right: 15px;
	padding-right: 15px;
	border-right: 1px solid #dfe0df;
}

div.field.field-name-field-featlink ul {
	float: left;
}

div.field.field-name-field-depthead {
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 5px;
}

body {
	background-image: url(sitebkrd.gif);
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#region-branding {
	margin: 0;
	width: 100%;
}

#zone-branding {
	margin-top: 20px;
	-moz-box-shadow: 0px 1px 4px 10px #afae9f;
	-webkit-box-shadow: 0px 1px 4px 0px #afae9f;
	box-shadow: 0px 1px 4px 0px #afae9f;
	background: #ffffff url(townhallright.jpg) no-repeat right top;
	border-right: 3px solid #ffffff;
	border-left: 3px solid #ffffff;
	border-top: 3px solid #ffffff;
}

#zone-content {
	background-color: #ffffff;
	position: relative;
	z-index: 0;
	padding-top: 10px;
	-moz-box-shadow: 0px 1px 4px 0px #afae9f;
	-webkit-box-shadow: 0px 1px 4px 0px #afae9f;
	box-shadow: 0px 1px 4px -1px #afae9f;
	padding-bottom: 20px;
	border-right: 3px solid #ffffff;
	border-left: 3px solid #ffffff;
}

div.logo-img {
	margin-bottom: 3px;
}

#zone-footer {
	text-shadow: #60150d 1px 1px 0;
	color: #ffffff;
	background: #a3291b repeat-x;
	padding-top: 13px;
	margin-bottom: 20px;
	padding-bottom: 12px;
	font-size: 15px;
	border-right: 3px solid #ffffff;
	border-left: 3px solid #ffffff;
	-moz-box-shadow: 0px 1px 4px 0px #afae9f;
	-webkit-box-shadow: 0px 1px 4px 0px #afae9f;
	box-shadow: 0px 1px 4px 0px #afae9f;
	border-bottom: 3px solid #ffffff;
}

#footerinforight {
	float: right;
}

#footerinfo {
	float: left;
}

a:link {
	color: #a32817;
	text-decoration: none;
}

a:hover {
	color: #2373b8;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 5px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

nav.navigation {
	background-image: url(navbkrd.gif);
	margin-top: 2px;
	margin-bottom: 17px;
}

#main-menu li {
	margin-right: 0;
	background-image: url(navbkrd.gif);
	height: 47px;
	line-height: 46px;
	padding: 16px 10px;
	border-right: 1px solid #d3887e;
}

#main-menu li a:hover {
	color: #fef4bb;
}

.item-list li {
	list-style-type: disc;
}

h2.block-title {
	text-transform: uppercase;
	font-size: 14px;
	color: #a3291b;
	border-bottom: 1px solid #a3291b;
	margin-bottom: 5px;
}

div.field.field-name-field-teaser img {
	float: left;
	border: 3px solid #c6ccd0;
	margin-right: 10px;
}

-
div.field.field-name-field-newsdate.field-type-date {
	font-weight: bold;
}

div.view.view-LatestNews.view-id-LatestNews h2.node-title {
	font-size: 15px;
	line-height: 22px;
}

div.view.view-LatestNews.view-id-LatestNews h2.node-title a {
	text-decoration: none;
	color: #a3281a;
}

div.view.view-LatestNews.view-id-LatestNews h2.node-title a:hover {
	text-decoration: underline;
	color: #a3281a;
}

#block-views-toplatestnews-block-1 h2.node-title {
	font-size: 18px;
	line-height: 22px;
	margin-top: 10px;
}

div.view.view-LatestNews.view-id-LatestNews article {
	border-bottom: 1px solid #a32817;
	margin-bottom: 8px;
	padding-bottom: 5px;
}

#block-views-toplatestnews-block-1 {
	border-bottom: 1px solid #a32817;
	margin-bottom: 13px;
	padding-bottom: 5px;
	position: relative;
}

h1#page-title.title {
	font-size: 28px;
	line-height: 32px;
	margin-bottom: 14px;
	padding-bottom: 5px;
	border-bottom: 1px solid #dfe0df;
	margin-top: -5px;
}

div.field.field-name-body img {
	margin: 10px;
}

div.region-inner.region-sidebar-second-inner {
	padding-left: 10px;
	padding-right: 5px;
	margin-bottom: 20px;
	margin-top: 10px;
}

p {
	margin-bottom: 10px;
}

a:link, a:visited {
	color: #a3281a;
	font-size: 12px;
}

a:hover {
	color: #155285;
	text-decoration: none;
}